/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: #000000;
    --second-color: hsl(41, 100%, 50%);
    --third-color: #ffffff;
    --four-color: #FF3100;

    --big-font: 4rem;
    --medium-font: 3rem;
    --small-font: 2rem;
    --p_font: 1rem;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

section {
    padding: 50px 10%;
}

body.active {
    --third-color: #1c1b1f;
    --main-color: #fff;
}

body {
    color: var(--main-color);
    background: var(--third-color);
}

img {
    width: 100%;
}

header.shadow {
    /* display: block; */
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 100;
    box-shadow: 0 1px 2px 4px rgb(15 54 55 / 10%);
    transition: 0.5s;
}

/* Nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: var(--third-color);
}

.logo {
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.logo img {
    width: 50px;
}

.logo span {
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar {
    display: flex;
    column-gap: 2rem;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color);
}

.navbar a:hover {
    color: var(--second-color);
}

#darkmode {
    font-size: 25px;
    cursor: pointer;
    color: var(--main-color);
}

/* Inicio */
.inicio {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding: 25px 10%;
}

.inicio h1 {
    font-size: var(--big-font);
}

.inicio h2 {
    font-size: var(--small-font);
    font-weight: 500;
    margin: 1rem 0 1rem;
}

.inicio .btn {
    display: inline-block;
    background-color: var(--second-color);
    padding: 10px 20px;
    border-radius: 0.5rem;
    color: white;
}

.inicio .btn:hover {
    background: var(--four-color);
}

/* Nuevos modelos */
.titulo {
    text-align: center;
}

.titulo h1 {
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color);
}

.titulo span {
    padding: 0.2rem 1.2rem;
    background: var(--second-color);
    color: var(--third-color);
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 100% 50%, 86% 99%, 0% 100%, 0% 50%, 10% 0%);
}


.nuevos-modelos {
    margin-top: 2rem;
}

.caja {
    width: 320px;
    height: 470px;
    display: grid;
    padding: 10px;
    position: relative;
}

.caja img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}

.caja:hover img {
    transform: scale(1.025);
    transition: 0.2s;
}

.caja .contenido {
    width: 300px;
    height: 100px;
    color: var(--main-color);
    position: absolute;
    text-align: center;
    background: hsla(0, 0%, 75%, 0.75);
    border-radius: 0px 0px 20px 20px;
    top: 360px;
    left: 10px;
}

.caja:hover .contenido {
    width: 280px;
    color: var(--main-color);
    background: hsla(41, 100%, 50%, 0.8);
    border-radius: 20px;
    top: 350px;
    left: 20px;
}

.caja .contenido h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
}

.caja .contenido h3 {
    font-size: 1.25rem;
    font-weight: 300;
}

.caja .bx-cart-alt{
    position: absolute;
    top: -340px;
    right: 10px;
    padding: 10px;
    font-size: 24px;
    background: var(--second-color);
    color: var(--third-color);
    border-radius: 15px;
}

.caja:hover .bx-cart-alt{
    top: -335px;
    right: -5px;
}

/* Nuestros productos */
.nuestros-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
}

@media (max-width: 479px) {
    .nuevos-modelos .caja:hover .bx-cart-alt{
        top: -345px;
    }

    .titulo h1 {
        font-size: 1.5rem;
    }

    .caja {
        width: 290px;
        height: 440px;
        padding: 0;
    }

    .caja img {
        width: 280px;
        height: 430px;
    }

    .caja .contenido {
        width: 280px;
        height: 90px;
        top: 340px;
        left: 0;
    }

    .caja:hover .contenido {
        width: 270px;
        height: 80px;
        top: 345px;
        left: 5px;
    }

    .caja .contenido h2 {
        font-size: 0.75rem;
    }
    
    .caja .contenido h3 {
        font-size: 1rem;
    }

    .caja .bx-cart-alt{
        top: -330px;
        right: 10px;
    }

    .caja:hover .bx-cart-alt{
        top: -340px;
        right: 0px;
    }

    .nuestros-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Footer */

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    gap: 1rem;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-box a,
.footer-box i {
    color: var(--main-color);
    margin-bottom: 4px;
}

.footer-box a:hover,
.footer-box i:hover {
    color: var(--second-color);
    cursor: pointer;
}

.footer-box-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_footer {
    width: 100px;
}

.social {
    display: flex;
    column-gap: 1rem;
}

.social .bx {
    background: var(--four-color);
    color: var(--third-color);
    padding: 10px;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.social .bx:hover {
    background: var(--second-color);
    color: var(--main-color);
}

.copyright {
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media (max-width: 479px) {
    .nav {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .inicio {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .inicio h1 {
        font-size: var(--small-font);
    }

    .inicio h2 {
        font-size: 20px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-box {
        align-items: center;
    }

    .logo_footer {
        width: 150px;
    }

    .footer-box h3 {
        font-size: 1.3rem;
        padding-top: 1rem;
    }
}